@charset "UTF-8";
/* pseudoclases */
@import url("https://fonts.googleapis.com/css2? family= Oswald:wght@200 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Climate+Crisis & display=swap");
a:hover {
  background: #a35959;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

a:active {
  background: #609e74;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

a:link {
  color: green;
}

a:visited {
  color: pink;
}

/*variables globales*/ /* pseudoclases */
a:hover {
  background: #a35959;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

a:active {
  background: #609e74;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

a:link {
  color: green;
}

a:visited {
  color: pink;
}

/*variables globales*/
/* mediaqueries sobre-nosotros */
@media screen and (max-width: 760px) {
  .body-nosotros {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: black;
    background-image: url(../multimedia/img/fondo-2.jpeg);
  }
  .main-sobre-nosotros {
    color: rgb(44, 70, 61);
  }
  /* aplicando boostrap,flexbox,responsive a sobre-nosotros */
  /* grid-sobre-nosotros */
  /* -------------------------------- GALERIA.HTML -------------------------------- */
  /* ~~~~~ MAIN ~~~~~ */
  .div_tesla-galeria {
    padding: 10px;
  }
  .div_tesla-galeria h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-style: italic;
    color: black;
    position: relative;
    background-color: white;
  }
  /* 
  .div_argentina_title h1:hover{
      background-color: darkcyan;
  } */
  .div_tesla_section {
    /* padding: 10px; */
    /* margin: 10px; */
    height: auto;
    /* -+- Propiedades de la caja -+- */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .tesla_section_caja {
    flex-grow: 3;
  }
  .tesla_section_caja img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /* ~ CAJA HIJOS ~ */
  .caja-img {
    width: 120px;
    height: 250px;
    margin: 5px;
  }
  .contenedor-section-parrafo {
    font-size: larger;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  #video-iframe {
    display: block;
    margin: 50px;
  }
  .h4-subti {
    color: yellow;
  }
  .footer-sobre-nos {
    color: yellow;
  }
  .main-h1 {
    color: greenyellow;
    padding-top: 100px;
  }
  .navbar-toggler {
    border: none !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  h4 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 700;
    font-size: larger;
  }
  .section-parrafo-info-sobre {
    font-family: "Crisis climática", cursiva;
    animation-name: logo-energia;
  }
  /* mediaqueries contacto */
  .contenedor-body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: url(../multimedia/img/tesla-fondo-10.jpg);
    background-size: cover;
  }
  /* modificamos con tipografias + box-modeling el archivo contacto */
  .main-h1-contacto {
    color: whitesmoke;
    margin-top: 100px;
  }
  .div-textarea {
    color: whitesmoke;
    border: dashed 2px rgb(49, 44, 17);
    display: inline-block;
    background-color: rgb(172, 117, 45);
    margin-top: 50px;
    margin-bottom: 40px;
    height: 100px;
    width: 400px;
  }
  .titulo-h1 {
    color: bisque;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .cont li {
    color: antiquewhite;
    display: inline-block;
    width: 15%;
    position: relative;
    font-size: 2rem;
  }
  .div-input {
    color: antiquewhite;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .seleccion-label {
    color: antiquewhite;
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  /* aplicando boostrap a contacto */
  .menu-desplegable-div {
    color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contenedor-div {
    color: antiquewhite;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 100px;
  }
  .main-bloque-parrafo-1 {
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
  }
  .main-bloque-parrafo-2 {
    background-image: linear-gradient(171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);
  }
  .main-bloque-parrafo-3 {
    background-image: linear-gradient(65.9deg, rgb(85, 228, 224) 5.5%, rgba(75, 68, 224, 0.74) 54.2%, rgb(64, 198, 238) 55.2%, rgb(177, 36, 224) 98.4%);
  }
  .main-bloque-parrafo-4 {
    background-image: radial-gradient(circle 597px at 93% 9.8%, rgb(255, 61, 89) 1.7%, rgb(252, 251, 44) 97%);
  }
  .icon-29px {
    background-image: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
  }
  .container {
    background-image: linear-gradient(110.1deg, rgb(34, 126, 34) 2.9%, rgb(168, 251, 60) 90.3%);
  }
  .main-section-parrafo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 5, 1);
    margin-top: 100px;
  }
  .main-section-ul {
    background-image: url(../multimedia/img/fondo-de-pantalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  main {
    border-style: double;
    border-color: yellow;
  }
  main section {
    display: flex;
    justify-content: center;
    border-style: groove;
  }
  main section ul li {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
  }
  .section-parrafo-dif {
    color: #d76d77;
  }
  .container {
    border-style: double;
    border: #d76d77 solid green;
  }
  .body-index {
    background-image: url(../multimedia/img/tesla-imperio.jpg);
  }
}
.body-header-div-index {
  margin-top: 100px;
}

.titulo-h1 {
  text-align: center;
  font-size: 50px;
  color: maroon;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Aboreto", cursive;
}

body {
  font-family: cursive;
  background-color: rgb(46, 43, 43);
}

.bloque-ul {
  list-style: lower-greek;
}

/* modificamos con tipografias + box-modeling el archivo contacto */
.main-h1-contacto {
  margin-top: 100px;
}

.contenedor-body {
  color: rgb(0, 0, 0);
  font-family: "Aboreto", cursive;
  background-color: aliceblue;
  background-size: cover;
}

.div-textarea {
  border: dashed 2px rgb(49, 44, 17);
  display: inline-block;
  background-color: rgb(172, 117, 45);
  margin-top: 50px;
  margin-bottom: 40px;
  height: 100px;
  width: 400px;
}

.titulo-h1 {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.cont li {
  display: inline-block;
  width: 15%;
  position: relative;
  font-size: 2rem;
}

.div-input {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.seleccion-label {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* modificamos galeria  */
/* parallax */
.main-section2 {
  /* Imagen elegida */
  background-image: url("../multimedia/img/img-comprimida.jpg");
  /* Definir un alto específico */
  height: 700px;
  /* Crear el efecto parallax al scrollear */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
}

.logo-footer {
  color: white;
  text-align: end;
}

.main-section {
  /* Imagen elegida */
  background-image: url("../multimedia/img/img-comprimida2.jpeg");
  /* Definir un alto específico */
  height: 700px;
  /* Crear el efecto parallax al scrollear */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
  /* definir color de letra */
  color: aqua;
}

/* modificamos Sobre-nosotros */
.contenedor-section-parrafo {
  font-size: larger;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

#video-iframe {
  display: block;
  margin: 50px;
}

.main-h1 {
  padding-top: 100px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: larger;
}

.section-parrafo-info-sobre {
  font-family: "Crisis climática", cursiva;
  animation-name: logo-energia;
}

/* modificando pagina de dificultades  */
.main-section-parrafo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 5, 1);
  margin-top: 100px;
}

.main-section-ul {
  background-image: url(../multimedia/img/fondo-de-pantalla.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main section ul li {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}

/* segunda preentrega */
/* aplicando boostrap a contacto */
.menu-desplegable-div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contenedor-div {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100px;
}

/* aplicando boostrap,flexbox,responsive a sobre-nosotros */
.body-nosotros {
  background-color: rgb(204, 127, 25);
}

/* grid-sobre-nosotros */
/* -------------------------------- GALERIA.HTML -------------------------------- */
/* ~~~~~ MAIN ~~~~~ */
.div_tesla-galeria {
  padding: 10px;
}

.div_tesla-galeria h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-style: italic;
  color: black;
  position: relative;
  background-color: white;
}

/* 
.div_argentina_title h1:hover{
    background-color: darkcyan;
} */
.div_tesla_section {
  /* padding: 10px; */
  /* margin: 10px; */
  height: auto;
  /* -+- Propiedades de la caja -+- */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tesla_section_caja {
  flex-grow: 3;
}

.tesla_section_caja img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ~ CAJA HIJOS ~ */
.caja-img {
  width: 120px;
  height: 250px;
  margin: 5px;
}

.main-section {
  color: rgb(238, 238, 238);
  font-size: larger;
}

.main-bloque-parrafo-1 {
  font-weight: 2rem;
}

.main-bloque-parrafo-2 {
  font-weight: 4rem;
}

.main-bloque-parrafo-3 {
  font-weight: 6rem;
}

.main-bloque-parrafo-4 {
  font-weight: 8rem;
}

.icon-14px {
  font-size: 14px;
}

.icon-16px {
  font-size: 16px;
}

.icon-21px {
  font-size: 21px;
}

.icon-29px {
  font-size: 29px;
}

.icon-32px {
  font-size: 32px;
}

.blue, .icon-14px {
  color: blue;
}

.purple, .icon-16px {
  color: purple;
}

.black, .icon-21px {
  color: black;
}

.white, .icon-29px {
  color: white;
}

.grey, .icon-32px {
  color: grey;
}

.icon-14px {
  background-color: white;
}

.icon-16px {
  background-color: gold;
}

.icon-21px {
  background-color: red;
}

.icon-29px {
  background-color: black;
}

.icon-32px {
  background-color: blue;
}

.main-bloque-parrafo-1 {
  background-color: green;
  text-align: center;
  padding: 1rem;
}

.main-bloque-parrafo-2 {
  background-color: grey;
}

.main-bloque-parrafo-3 {
  border: 20px solid rgb(206, 93, 162);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(11, 164, 211);
  background-color: black;
}

.main-bloque-parrafo-4 {
  border: 40px solid rgb(1, 0, 3);
  border-radius: 40px;
  box-shadow: 0px 0px 40px rgb(187, 48, 48);
  background-color: black;
}

.body-dificultades {
  background-image: linear-gradient(358.4deg, rgb(249, 151, 119) -2.1%, rgb(98, 58, 162) 90%);
}

.btn {
  width: 100px;
  transition: width 2s;
}

.btn:hover {
  width: 200px;
}

.main-section-ul {
  animation-name: logo-energia;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes logo-energia {
  0% {
    height: 600px;
  }
  25% {
    height: 700px;
  }
  50% {
    height: 800px;
  }
  75% {
    height: 900px;
  }
  100% {
    height: 910px;
  }
}
.logo-dificultades {
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes logo {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.lo {
  animation-name: bounce;
  animation-duration: 8s;
  animation-delay: 7s;
}

/*# sourceMappingURL=style.css.map */
