@import "pseudoclases";
@import "variables";
@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@200 & display=swap');
/* mediaqueries sobre-nosotros */

@media  screen and (max-width:760px) {
    .body-nosotros {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: black;
        background-image: url(../multimedia/img/fondo-2.jpeg);
    }
        .main-sobre-nosotros {
        color: rgb(44, 70, 61);
        }
    /* aplicando boostrap,flexbox,responsive a sobre-nosotros */

/* grid-sobre-nosotros */

/* -------------------------------- GALERIA.HTML -------------------------------- */
/* ~~~~~ MAIN ~~~~~ */
.div_tesla-galeria{
    padding: 10px;
}

.div_tesla-galeria h1{
    text-align: center;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    color: black;
    position: relative;
    background-color: white;
}
/* 
.div_argentina_title h1:hover{
    background-color: darkcyan;
} */

.div_tesla_section{
    /* padding: 10px; */
    /* margin: 10px; */
    height: auto;

    /* -+- Propiedades de la caja -+- */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}   


.tesla_section_caja{
    flex-grow: 3;
}

.tesla_section_caja img{
    object-fit: cover;
    width: 100%;
    height: 100% ;
}

/* ~ CAJA HIJOS ~ */
.caja-img{
    width: 120px;
    height: 250px;
    margin: 5px;
}
.contenedor-section-parrafo {
    font-size: larger;
	padding: 10px 40px;
	background-color: rgba(255, 255, 255, 0.7);
}

#video-iframe {
    display: block;
    margin: 50px;
   
}
.h4-subti {
    color: yellow;
}

.footer-sobre-nos {
    color: yellow;
}

.main-h1 {
    color: greenyellow;
    padding-top: 100px;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: larger;
}

.section-parrafo-info-sobre {
    font-family: $font-secundaria ;animation-name: logo-energia;
}

/* mediaqueries contacto */

.contenedor-body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../multimedia/img/tesla-fondo-10.jpg);
    background-size: cover;

}

/* modificamos con tipografias + box-modeling el archivo contacto */

.main-h1-contacto{
    color: whitesmoke;
    margin-top: 100px;
}

.div-textarea {
    color: whitesmoke;
    border: dashed 2px rgb(49, 44, 17);
    display: inline-block;
    background-color: rgb(172, 117, 45);
    margin-top: 50px;
    margin-bottom: 40px;
    height: 100px;
    width: 400px;
   
}

.titulo-h1 {
    color: bisque;
    text-decoration:none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.cont li {
    color: antiquewhite;
    display: inline-block;
    width: 15%;
    position: relative;
    font-size: 2rem;
}

.div-input {
    color: antiquewhite;

    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
}

.seleccion-label {
    color: antiquewhite;

    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
}
/* aplicando boostrap a contacto */

.menu-desplegable-div {
    color: antiquewhite;

    margin-top: 30px;
    margin-bottom: 20px;
}

.contenedor-div {
    color: antiquewhite;

    margin-left: 50px;
    margin-bottom: 20px;
    width: 100px;
}
// media queries galeria

.main-section {
	/* Imagen elegida */
    
	 background-image: url("../multimedia/img/img-comprimida2.jpeg");

	/* Definir un alto específico */
	height: 700px;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 50px 30px;
	margin-bottom: 50px;
    
    /* definir color de letra */
    color: aqua;
}

.main-section2 {
	/* Imagen elegida */
	background-image: url("../multimedia/img/img-comprimida.jpg");

	/* Definir un alto específico */
	height: 700px;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 50px 30px;
	margin-bottom: 50px;
}


.main-bloque-parrafo-2 {
    background-image: linear-gradient( 171.8deg,  rgba(5,111,146,1) 13.5%, rgba(6,57,84,1) 78.6% );
}

.main-bloque-parrafo-3 {
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
}

.main-bloque-parrafo-4 {
    background-image: radial-gradient( circle 597px at 93% 9.8%,  rgba(255,61,89,1) 1.7%, rgba(252,251,44,1) 97% );
}

.icon-29px {
    background-image: linear-gradient( 122.3deg,  rgba(111,71,133,1) 14.6%, rgba(232,129,166,1) 29.6%, rgba(237,237,183,1) 42.1%, rgba(244,166,215,1) 56.7%, rgba(154,219,232,1) 68.7%, rgba(238,226,159,1) 84.8% );
}


// media queries dificultades

.container {
    background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
}
.main-section-parrafo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(8, 5, 1);
    margin-top: 100px;
}

.main-section-ul{
    background-image: url(../multimedia/img/fondo-de-pantalla.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}

// media querie de index
main {
    border-style: double;
    border-color: yellow;
    section {
        display: flex;
        justify-content: center;
        border-style: groove;
        ul {
            li {
                 font-size: $relleno;
                 color: $colores-back;
                font-family: $font-tercera;
            }
        }
    }
}

.section-parrafo-dif {
    color: #d76d77;
}

.container {
    border-style: double ;
    border: #d76d77 solid green;
}
.body-index {
    background-image: url(../multimedia/img/tesla-imperio.jpg);
}

}