/*variables globales*/
$colores-back:rgb(255, 255, 255);
$relleno: 25px;
$colores-fonts: magenta;
$font-principal: 'Times New Roman', Times, serif;
$font-secundaria:'Crisis climática', cursiva;
$bordes: 5px solid green;
$font-tercera:'Oswald', sans-serif;