/*variables globales*/
$colores-back:rgb(146, 146, 209);
$relleno: 25px;
$colores-fonts: magenta;
$font-principal: 'Times New Roman', Times, serif;
$font-secundaria:'Crisis climática', cursiva;
$bordes: 5px solid green;
$font-tercera:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;