@charset "UTF-8";
/* pseudoclases */
@import url("https://fonts.googleapis.com/css2? family= Climate+Crisis & display=swap");
a:hover {
  background: #a35959;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

a:active {
  background: #609e74;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

a:link {
  color: yellow;
}

a:visited {
  color: pink;
}

/*variables globales*/ /* mediaqueries contacto */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .contenedor-body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: black;
    background-image: url(../multimedia/img/fondo-2.jpeg);
    color: rgb(44, 70, 61);
  }
}
@media screen and (min-width: 960px) and (max-width: 1328px) {
  .contenedor-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background-image: url(../multimedia/img/fondo-de-pantalla.jpg);
    color: aliceblue;
  }
}
/* mediaqueries sobre-nosotros */
@media screen and (min-width: 0px) and (max-width: 480px) {
  .body-nosotros {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: black;
    background-image: url(../multimedia/img/fondo-2.jpeg);
    color: rgb(44, 70, 61);
  }
}
@media screen and (min-width: 960px) and (max-width: 1328px) {
  .body-nosotros {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    background-image: url(../multimedia/img/fondo-de-pantalla.jpg);
    color: aliceblue;
  }
}
.cabezera-header {
  background-color: rgb(92, 71, 71);
}

.titulo-h1 {
  text-align: center;
  font-size: 50px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Aboreto", cursive;
}

body {
  font-family: cursive;
  background-color: rgb(46, 43, 43);
}

.bloque-ul {
  list-style: lower-greek;
}

/* modificamos con tipografias + box-modeling el archivo contacto */
.contenedor-body {
  font-family: "Aboreto", cursive;
  background-color: aliceblue;
}

.div-textarea {
  border: dashed 2px rgb(49, 44, 17);
  display: inline-block;
  background-color: rgb(172, 117, 45);
  margin-top: 50px;
  margin-bottom: 40px;
  height: 100px;
  width: 400px;
}

.titulo-h1 {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.cont li {
  display: inline-block;
  width: 15%;
  position: relative;
  font-size: 2rem;
}

.div-input {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 10px;
}

.seleccion-label {
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* modificamos galeria  */
/* parallax */
.main-section2 {
  /* Imagen elegida */
  background-image: url("../multimedia/img/210427134741-cnne-dinero-tesla-04272021-full-169.jpg");
  /* Definir un alto específico */
  height: 700px;
  /* Crear el efecto parallax al scrollear */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
}

.logo-footer {
  text-align: end;
}

.main-section {
  /* Imagen elegida */
  background-image: url("../multimedia/img/descarga (1).jpeg");
  /* Definir un alto específico */
  height: 700px;
  /* Crear el efecto parallax al scrollear */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
  /* definir color de letra */
  color: aliceblue;
}

/* modificamos Sobre-nosotros */
.contenedor-section-parrafo {
  font-size: larger;
  padding: 10px 40px;
  background-color: rgba(255, 255, 255, 0.7);
}

#video-iframe {
  display: block;
  margin: 50px;
}

.main-h1 {
  padding-top: 100px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-size: larger;
}

.section-parrafo-info-sobre {
  font-family: "Crisis climática", cursiva;
}

/* modificando pagina de dificultades  */
.main-section-parrafo {
  background-color: rgb(173, 73, 73);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(8, 5, 1);
}

.main-section-ul {
  background-color: blueviolet;
  background-image: url(../multimedia/img/imagen-problemas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: bisque;
}

.section-parrafo-info-difi {
  font-family: "Times New Roman", Times, serif;
}

main section ul li {
  font-size: 25px;
  color: rgb(146, 146, 209);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* segunda preentrega */
/* aplicando boostrap a contacto */
.menu-desplegable-div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contenedor-div {
  margin-left: 50px;
  margin-bottom: 20px;
  width: 100px;
}

/* aplicando boostrap,flexbox,responsive a sobre-nosotros */
.body-nosotros {
  background-color: antiquewhite;
}

/* grid-sobre-nosotros */
/* -------------------------------- GALERIA.HTML -------------------------------- */
/* ~~~~~ MAIN ~~~~~ */
.div_tesla-galeria {
  padding: 10px;
}

.div_tesla-galeria h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-style: italic;
  color: black;
  position: relative;
  background-color: white;
}

/* 
.div_argentina_title h1:hover{
    background-color: darkcyan;
} */
.div_tesla_section {
  /* padding: 10px; */
  /* margin: 10px; */
  height: auto;
  /* -+- Propiedades de la caja -+- */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tesla_section_caja {
  flex-grow: 3;
}

.tesla_section_caja img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ~ CAJA HIJOS ~ */
.caja-img {
  width: 120px;
  height: 250px;
  margin: 5px;
}

.main-section {
  color: maroon;
  font-size: larger;
}

.main-bloque-parrafo-1 {
  font-weight: 2rem;
}

.main-bloque-parrafo-2 {
  font-weight: 4rem;
}

.main-bloque-parrafo-3 {
  font-weight: 6rem;
}

.icon-5px {
  font-size: 5px;
}

.icon-30px {
  font-size: 30px;
}

.icon-20px {
  font-size: 20px;
}

.icon-10px {
  font-size: 10px;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.black {
  color: black;
}/*# sourceMappingURL=style.css.map */